default:
    suites:
        technight:
            contexts:
                - App\Tests\Behat\DemoContext

    extensions:
        Behat\MinkExtension:
            base_url: http://localhost
            sessions:
                default:
                    symfony: ~
        FriendsOfBehat\SymfonyExtension:
            kernel:
                class: App\Kernel
                environment: test
                debug: true
